:root {
    --red:rgb(172, 90, 90);
    --white:aliceblue;
    --blue:rgb(133, 133, 194);
    --black: black;
}

body {
    position: relative;
}


* {

    color: var(--black);
    box-sizing: border-box;
    direction: rtl;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
}

.header {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 2.7em;
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2em;
    z-index: 1000;
}

.navbar a {
    font-size: 1.1em;
    color: var(--white);
    margin-right: 1em;
    padding: 0.3em 0.7em;
    background-color: var(--red);
    border-radius: 0.7em;
    position: relative;
}

.navbar a:hover {
    color: var(--red);
    background-color: var(--white);
    transition: all 0.8s;
    border: 2px solid var(--red);
    font-weight: 600;
}

.navbar a::after {
    color: var(--black);
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -11px;
    height: 3px;
    background-color: var(--red);
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navbar a:hover::after {
    transform-origin: center;
    transform: scaleX(0.9);
}

.navbar a:first-child {
    margin-right: 10px;
}

.logo {
    margin-left: 10px;
    animation: logo-animation 3s infinite ease-in-out;
}

.logo-icon {
    color: var(--red);
    font-size: 1.6em;
    margin-right: 5px;
}

.logo::first-letter {
    color: var(--red);
    font-size: 1.6em;
}

@keyframes logo-animation {
    0%{
        text-shadow: 3px 3px 3px var(--blue);
        transform: translateX(10px);
    }

    50%{
        text-shadow: 3px 3px 3px var(--red);
        transform: translateX(100px);
    }
    100%{
        text-shadow: 3px 3px 3px var(--blue);
        transform: translateX(10px);
    }
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s;
    background-position: center;
}

.banner .imgBx img.active{
    opacity: 1;
}

.contentBx {
    position: absolute;
    bottom: 0;
    left: calc(100vh / 2);
    max-width: 700px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.contentBx div {
    display: none;
}

.contentBx div.active{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: block;
    padding: 30px;
    padding-left: 100px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
}

.contentBx div h2 {
    color: var(--white);
    font-size: 2em;
}

.contentBx div p {
    color: var(--white);
    font-size: 1.1em;
}

.contentBx div a {
    color: black;
    font-size: 1.1em;
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--white);
    margin-top: 10px;

}

.product-category {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.product-category div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-category div img {
    width: 90%;
    border-radius: 50%;
    border: 5px solid var(--red);
}


.product-category div p {
    font-size: 1.3em;
    margin-right: 25px;
    font-weight: 700;
}

.product-category div button {
    color: var(--white);
    background-color: var(--red);
    font-size: 1.3em;
    margin-left: 50px;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 10px;
}
.product-category div button:hover {
    color: var(--red);
    background-color: var(--white);
    transition: all 0.8s;
    border: 2px solid var(--red);
    font-weight: 600;
}

.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    background-color: var(--red);
}

.about-us img {
    width: 750px;
    height: 350px;
    margin: 100px;
    border: 10px solid var(--white);
    border-radius: 20px;
}

.about-us div {
    padding: 20px;
    margin: 80px;
    background-color: rgb(212, 157, 157);
}

.about-us div h1 {
    color: aliceblue;
    font-size: 2.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-us div p {
    color: black;
    font-size: 1.3em;
    font-weight: 600;
}

.brand-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-info p {
    font-size: 2em;
    font-weight: 700;
    margin-right: 10%;
    margin-top: 30px;
}

.brand-info a {
    font-size: 2em;
    font-weight: 700;
    margin-left: 10%;
    margin-top: 30px;
    color: var(--white);
    background-color: var(--red);
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.brand-info a:hover {
    color: var(--red);
    background-color: var(--white);
    border: 2px solid var(--red);
}

.brands {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
}

.brands .brand {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgb(56, 54, 54);
    overflow: hidden;
    transition: 0.5s;
}

.brands .brand:hover {
    transform: scale(1.1);
    z-index: 1000;
}

.brands .brand img {
    width: 100%;
}

.popular {
    width: 100%;
    background-color: var(--red);
    padding: 50px;
    position: relative;
    margin-top: 30px;
}

.popular > p {
    display: inline-block;
    color: var(--red);
    background-color: var(--white);
    font-weight: 700;
    font-size: 1.8em;
    margin-right: 22%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    animation: logo-animation 5s infinite;
}

.pop-container {
    overflow: hidden;
    padding: 20px;
    width: 70%;
    height: 290px;
    margin: 10px auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    border-radius: 40px;
}

.popular .pop-container .pop p {
    margin: 20px auto;
    text-align: center;
}

.popular .pop-container .pop .price {
    font-size: 1.5em;
    font-weight: 700;
}

.popular .pop-container .pop img {
    border-radius: 50%;
    border: 3px solid var(--red);
    box-shadow: 5px 5px 5px var(--red);
    width: 100%;
    transition: 0.5s;
}

.popular .pop-container .pop img:hover {
    transform: scale(1.3);
}

.pop-control {
    position: absolute;
    left: 10%;
    top: 42.5%;
    width: 80%;
    padding: 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop-control li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: brown;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.pop-control li::before {
    content: "";
    width: 20px;
    height: 20px;
    border-left: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
    transform: rotate(45deg);
    font-weight: bolder;
}

.pop-control li:first-child::before {
    transform: rotate(225deg);
}


.weblog-container {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.weblog-info {
    margin-top: 30px;
    margin-bottom: 30px;
}

.weblog-info h1{
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 50px;
    margin-top: 10px;
}

.weblog-info a {
    color: var(--red);
    padding: 10px;
    position: absolute;
    left: 5%;
    font-size: 1.5em;
    font-weight: 600;
}


.weblog-container {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

.weblog-container div {
    padding: 10px;
    border-radius: 20px;
}

.weblog-container div:hover {
    background-color: ghostwhite;
}

.weblog-container div img {
    width: 100%;
    border-radius: 20px;
}

.weblog-container div h1 {
    font-size: 2em;
    font-weight: 700;
    margin-top: 15px;
}

.weblog-container div p {
    display: inline;
    margin-bottom: 20px;
}

.weblog-container div a{
    color: var(--red);
    display: inline-block;
    margin-bottom: 20px;
}

.info {
    padding: 30px;
    color: aliceblue;
    margin: 0 auto 0 auto;
    border-radius: 5px;
    width: 97%;
    background-color: rgb(18, 18, 18);
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

.info  span{
    color: rgb(226, 21, 21);
}

.info p {
    color: var(--white);
    margin: 5px;
}

.social-icons  {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

.social-icons div {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.social-icons div i {
    color: aliceblue;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
    background-color: #f5e4e4;
    margin-top: 30px;
}

.footer div {
    padding: 30px;
}

.footer div h1 {
    font-size: 2.5em;
    font-weight: 900;
}

.footer div p {
    margin-top: 20px;
    font-size: 1em;
}

.footer div p span {
    display: block;
    font-size: 1.5em;
    font-weight: 900;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info ul li {
    margin: 5px;
    list-style: none;
}

.last-p {

    background-color: #f5e4e4;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    padding: 10px;

}

.message {
    position: absolute;
    top: 0;
    width: 50%;
    height: 50px;
    background-color: chocolate;
    z-index: 1000;
    left: 25%;
}
