.container {
    width: 80%;
    margin: 20px auto;
    background-color: gainsboro;
    outline: 5px solid black;
    border-radius: 30px;
}

.container form {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.container form div {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: flex;
    flex-direction: column; */
}

.container form div label {
    font-size: 2em;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    color: aliceblue;
}

.container form div input , textarea {
    margin-top: 10px;
    display: block;
    width: 100%;
}

.btn {
    margin: auto;
    width: 100%;
}

.btn button {
    width: 30%;
    height: 50px;
    margin-top:  0 auto;
    background-color: brown;
    color: aliceblue;
    font-size: 40px;
    outline: 3px solid black;
    border-radius: 10px;
}




